@import url('https://fonts.googleapis.com/css2?family=Font1&family=Font2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    /*retirando as bordas e margens*/
}

:root {
    /*definir as cores do projeto*/
    /*Tamanho do texto*/
    --h1-anuncio: 60px;
    --h5-anuncio: 14px;
    --preço-anuncio: 40px;
    --p-anuncio: 1rem;

    /*Tema claro*/
    --bg-color: white; /*cor do fundo claro*/
    --text-color: black; /*cor dos textos*/
    --logo-color: #34e7f8; /*cor da logo*/
    --pc1-color: #34e7f8;
    --pc2-color: #ff758d;
    --pc3-color: #ffd06d;

    /*Tema escuro*/
    --bg-color-dark: black; /*cor do fundo escuro*/
    --text-color-dark: white; /*cor dos textos*/
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 8%;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 25px;
    font-weight: 800;
    margin-right: 10px;
}

.logo i {
    color: var(--logo-color);
    font-size: 40px;
    margin-right: 5px;
}

.navegação {
    display: flex;
}

.navegação a {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 30px;
    transition: a .55s ease;
}

.navegação a:hover {
    color: var(--logo-color);
}

.icone-cabecalho {
    display: flex;
    align-items: center;
}

#menu {
    font-size: 35px;
    color: var(--text-color);
    z-index: 1001;
    cursor: pointer;
}

.icone-cabecalho i {
    margin: 15px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
}

.icone-cabecalho i:hover {
    color: #34e7f8;
}

/*Parte do anuncio -----------------*/

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);*/
    align-items: center; 
    gap: 2rem;
}


.texto-anuncio h1 {
    font-size: var(--h1-anuncio);
    line-height: 1.2;
    margin-bottom: 2px;
    margin-left: 18%;
    width: 100%;
    border: solid 2px; /*tirar depois*/
}

.texto-anuncio h5 {
    color: var(--text-color);
    font-size: var(--h5-anuncio);
    font-weight: 400;
    margin-bottom: 60px;
    margin-left: 18%;
    border: solid 2px; /*tirar depois*/
}

.texto-anuncio h3 {
    color: var(--text-color);
    font-size: var(--preço-anuncio);
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 35px;
    margin-left: 18%;
}

.pc-img{
    border: solid 2px; /*tirar depois*/
    width: 25%;
    margin-left: 5%;
}
.pc-img img {
    max-width: 100%;
    width: 28rem;
    height: auto;
}

.btn {
    display: inline-block;
    padding: 15px 70px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border: solid 2px;
    transition: all.55 ease;
    color: #000000;
    margin-left: 18%;
}

.btn:hover {
    background: black;
    border: 2px solid var(--tex-color);
    color: white;
}

.main {
    
    width: 5%;
    height: 49%;
    border: solid 2px; /*tirar depois*/

    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 28%;
}

.main li img {
    width: 400px;
    height: auto;
    max-width: 100%;
    border: solid 2px;
}

.row {
    background: #ff758d;
    height: 100px;
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.55s ease;
    cursor: pointer;
}


.row:hover {
    transform: translateY(-8px);
}

.row2 {
    background: #ff758d;
    height: 100px;
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.55s ease;
    cursor: pointer;
}

.row2:hover {
    transform: translateY(-8px);
}

.row3 {
    background: #ff758d;
    height: 100px;
    width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;
}

.row3:hover {
    transform: translateY(-8px);
}

body.dark-mode .logo,
body.dark-mode .navegação a,
body.dark-mode .texto-anuncio h5{
    color: var(--text-color-dark);
}

body.dark-mode .btn{
    color: white;
}

body.dark-mode .btn:hover {
    background: rgb(224, 222, 222);
    border: 2px solid var(--tex-color);
    color: #000000;
}

body.dark-mode .navegação a:hover{
    color: var(--logo-color);
}

/*Descrição ------------------------------*/

.descrição{
    border: solid 2px; /*tirar depois*/
    width: 80%;
    margin-left: 5%;
    height: 50%;
    position: relative;
    top: -100px;
}

.avaliações{
    border: solid 2px; /*tirar depois*/
    width: 80%;
    margin-left: 5%;
    height: 50%;
    position: relative;
    top: -50px;
}